STRIPE_SECRET_KEY=sk_live_XXXXXXXX
NEXT_PUBLIC_URL=https://nordicbikeroutes.com
NEXT_PUBLIC_DOMAIN=nordicbikeroutes.com
PRODUCT_NAME=Digital Bicycling Route Planner
PRODUCT_DESCRIPTION=A web app that provides curated biking routes with safety information and highlights of scenic spots
PRICE_ORE=9900